*{
    font-family: 'Courier';
    padding: .5%;
    margin: .5%;
}

@media (max-width: 430px) {
    .mobile{
        display:inline-flex;
    }
    .desktop{
        display: none;
    }
}

@media (min-width: 431px) {
    .mobile{
        display:none;
    }
    .desktop{
        display: inline-flex;
    }
}